{% extends 'base.html'%}

{% block head %}

{%  endblock %}

{% block body %}

<div class="card shadow">
    <div class="card-header">Users:
        <a type="button" href="/Main" class="btn btn-outline-primary">Back</a>
        {% if showDisabled %}
       
        <a type="button" href="/Users"  class="btn btn-outline-warning">Show Enabled</a>
    {% else %}
    <a type="button" href="/UsersDisabled"  class="btn btn-outline-warning">Show Disabled</a>
    {% endif %}
        
        <a type="button" href="/UserNew" class="btn btn-outline-primary">Add User</a>

    </div>
    <div class="card-body">

        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
           
         
                <th>Select</th>
            </tr>
            {%for user in users%}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.fName}}</td>
                <td>{{user.lName}}</td>
           

                <td><a type="button" href="UserUpdate/{{user.id}}" class="btn btn-outline-info">Select</a></td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>
</div>
{%  endblock %}